<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=test;User ID=yy;Password=yy;" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.data>
   
  </system.data>
</configuration>